<div class="w-100">
    <div class="row w-100">
        <h3 class="col-auto">List of {{ObjectsName}}</h3>
        <button class="col-auto btn btn-dark" (click)="AddBtnClick()">Add New</button>
    </div>
    <div class="row w-100">
        <div class="col-2 OneCoumn text-center ">
            <p>{{FirstProperty}}</p>
        </div>
        <div class="col-2 OneCoumn text-center">
            <p>{{SecondProperty}}</p>
        </div>
        <div class="col-2 OneCoumn text-center">
            <p>{{ThirdProperty}}</p>
        </div>
        <div class="col-2 OneCoumn text-center">
            <p>{{FourthProperty}}</p>
        </div>
    </div>

</div>