

    <div class="container"><!-- container for list elements -->
    <div >
        <app-list-guide 
        [FirstProperty]="'Name'" 
        [SecondProperty]="'Street'" 
        [ThirdProperty]="'Building number'" 
        [FourthProperty]="'Office Tel Number'" 
        [AddUrl]="AddUrl"
        [ObjectsName]="'Departments'"

        ></app-list-guide>
    </div>
        <app-list-element *ngFor="let department of DepartmentList" 
        [Id]="department.id" 
        [FirstData]="department.name" 
        [SecondData]="department.street" 
        [ThirdData]="department.buildingNo"
        [FourthData]="department.officeTelNo"
        [EditUrl]="EditUrl"
        [DetailsUrl]="DetailsUrl"
        [DeleteUrl]="DeleteUrl"
        ></app-list-element>
    </div>
    <div>

    </div>

